#index{
	display: flex;
	justify-content: space-around;
	background-image: url("imagenes/duloc.jpg");
	padding-top: 10%;
}

.imagen{
	border-radius: 50px;
	border: 10px solid green;
	width: 25%;
}

.texto{
	width: 50%;
	font-family: Algerian;
	color: white;
}

#botones{
	display: flex;
	justify-content: space-around;
	margin-top: 7em;
}

.boton{
	padding-top: .2em;
	padding-bottom: .2em;
	width: 15em;
	height: 2em;
	border-radius: 10px;
	text-align: center;
	font-family: Broadway;
	color: white;
	background-color: #460404;
}

.sonidos{
	display: flex;
	justify-content: space-around;
}

.tabla{
	display: flex;
	justify-content: space-around;
}

#dibujos{
	margin-top: 10em;
}