.navbar {
    height: 70px;
    z-index: 1;
}

.buttonDropdown {
    position: relative;
}

.menu {
    position: absolute;
    list-style-type: none;
    padding: 0;
    z-index: 1;
}

.menu-button {
    text-align: center;
  
    background: none;
    color: inherit;
    border: none;
    padding: 5px;
    margin: 0;
    font: inherit;
    cursor: pointer;
  }