.contenedor {
    width: 100vw;
    height: 40vh;
    margin-top: 3vh;
    top: 0;
    left: 0;
}

.recursos {
    width: 90%;
    margin: auto;
    margin-top: 5rem;
    position: relative;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.ejemplo {
    width: 30%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 25px;
    padding: 1rem;
    border: 2px solid rgb(73, 0, 73);
}

.ejemplo img {
    width: 100%;
}

.info {
    width: 100%;
    text-align: center;
    border-radius: 10px;
    background-color: #040d46;
    color: white;
    padding: .5em 0;
}

.info p {
    margin: 0;
}

.info a {
    text-decoration: none;
}